/**
 * Based: https://github.com/kognise/water.css
 * Inspired: https://github.com/argyleink/open-props/blob/main/src/extra/normalize.src.css
 */

:root {
  --size-0: 0.01rem;
  --size-1: 0.125rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
}

:root {
  --surface-1: #f5f6f8;
  --surface-2: #efefef;
  --selection: #9e9e9e;
  --text-1: #363636;
  --text-2: #000;
  --links: #0076d1;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000;
  color-scheme: light;
}
@media (prefers-color-scheme: dark) {
  :root {
    --surface-1: #202b38;
    --surface-2: #161f27;
    --selection: #1c76c5;
    --text-1: #dbdbdb;
    --text-2: #fff;
    --links: #41adff;
    --focus: #0096bfab;
    --border: #526980;
    --code: #ffbe85;
    color-scheme: dark;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(html) {
  block-size: 100%;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  color: var(--text-1);
  background: var(--surface-1);

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

:where(body) {
  min-block-size: 100%;
  max-inline-size: 1000px;
  padding-inline: var(--size-3);
  padding-block: var(--size-4);
  margin-inline: auto;
  word-break: break-word;
}

:focus-visible {
  outline-color: var(--focus);
}

::selection {
  background-color: var(--selection);
  color: var(--text-2);
}

:where(a) {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  color: var(--links);
  text-underline-offset: var(--size-1);

  &:where(:not(:hover)) {
    text-decoration: none;
  }
}

:where(img, svg, video) {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

:where(h1, h2, h3, h4, h5, h6, strong) {
  color: var(--text-2);
}

:where(h1) {
  font-size: var(--font-size-5);
}
:where(h2) {
  font-size: var(--font-size-4);
}
:where(h3) {
  font-size: var(--font-size-3);
}
:where(h4, h5, h6) {
  font-size: var(--font-size-2);
}

:where(pre, code) {
  font-family: ui-monospace, monospace;
  writing-mode: lr;
}

:where(pre) {
  line-height: 1.25;
  white-space: pre;
  overflow-x: auto;
  padding-block: var(--size-2);
  padding-inline: var(--size-2);
  background: var(--surface-2);
}

:where(:not(pre) > code) {
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  border-radius: var(--size-2);
  background: var(--surface-2);
  color: var(--code);
}

:where(blockquote) {
  display: grid;
  gap: var(--size-2);
  margin-inline-start: 0;
  padding-inline: var(--size-2);
  border-left: var(--size-1) solid var(--focus);
  font-style: italic;
  white-space: pre-wrap;
}

:where(hr) {
  border: none;
  height: var(--size-0);
  background-color: var(--border);
}

:where(ol, ul) {
  padding-inline-start: var(--size-5);
}
