/** Inspired: https://github.com/argyleink/open-props/blob/main/src/extra/normalize.src.css */

:root {
  --size-0: 0.01rem;
  --size-1: 0.125rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-lineheight-0: 1.1;
  --font-lineheight-1: 1.25;
  --font-lineheight-2: 1.375;
}

:root {
  --background: #fdfeff;
  --text-1: #2d3140;
  --text-2: #383c52;
  --links: #00598b;
  --code-bg: #dfe3ef;
  --code-fg: #51545d;
  --focus: #7bc1ce;
  --border: #4f6476;
  color-scheme: light;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2e3b;
    --text-1: #ecf5f9;
    --text-2: #edf3f6;
    --links: #77c1ce;
    --code-bg: #51545d;
    --code-fg: #597a78;
    --focus: #236997;
    --border: #1d6268;
    color-scheme: dark;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(html) {
  block-size: 100%;
  font-family: system-ui, sans-serif;
  line-height: var(--font-lineheight-2);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: var(--text-1);
  background: var(--background);
}
@media (prefers-reduced-motion: no-preference) {
  :where(html) {
    scroll-behavior: smooth;
  }
}

:where(body) {
  min-block-size: 100%;
  max-inline-size: 1000px;
  margin: 0;
  padding-inline: var(--size-3);
  padding-block: var(--size-3);
  margin-inline: auto;
  word-break: break-word;
}

:focus-visible {
  outline-color: var(--focus);
}

::selection {
  background-color: var(--focus);
  color: var(--text-2);
}

:where(a) {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  color: var(--links);
  text-underline-offset: var(--size-1);
}
:where(a:not(:hover)) {
  text-decoration: none;
}

:where(img, svg, video) {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: var(--font-lineheight-1);
}
:where(h1, h2, h3, h4, h5, h6, strong) {
  color: var(--text-2);
}

:where(h1) {
  font-size: var(--font-size-5);
}
:where(h2) {
  font-size: var(--font-size-4);
}
:where(h3) {
  font-size: var(--font-size-3);
}
:where(h4, h5, h6) {
  font-size: var(--font-size-2);
}

:where(pre, code) {
  font-family: ui-monospace, monospace;
  writing-mode: lr;
}

:where(pre) {
  line-height: var(--font-lineheight-0);
  white-space: pre;
  overflow-x: auto;
  padding-block: var(--size-2);
  padding-inline: var(--size-2);
  background: var(--code-bg);
  border: var(--size-0) dotted var(--border);
}

:where(:not(pre) > code) {
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  border-radius: var(--size-2);
  background: var(--code-bg);
  color: var(--code);
}

:where(blockquote) {
  display: grid;
  gap: var(--size-2);
  margin-inline-start: 0;
  padding-inline: var(--size-2);
  border-inline-start: var(--size-1) solid var(--border);
  font-style: italic;
  white-space: pre-wrap;
}

:where(ol, ul) {
  padding-inline-start: var(--size-3);
}
