:root {
  /* Inspired by https://github.com/argyleink/open-props/blob/main/src/extra/normalize.src.css */
  --size-0: 0.01rem;
  --size-1: 0.125rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-lineheight-0: 1.1;
  --font-lineheight-1: 1.25;
  --font-lineheight-2: 1.375;

  /* Copied from https://github.com/nordtheme/nord/blob/1cef71605416a222e57225b544540ce0fcec18d4/src/nord.css */
  /* Polar Night */
  --nord00: #2e3440;
  --nord01: #3b4252;
  --nord02: #434c5e;
  --nord03: #4c566a;
  /* Snow Storm */
  --nord04: #d8dee9;
  --nord05: #e5e9f0;
  --nord06: #eceff4;
  /* Frost */
  --nord07: #8fbcbb;
  --nord08: #88c0d0;
  --nord09: #81a1c1;
  --nord10: #5e81ac;
  /* Aurora */
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

:root {
  color-scheme: light dark;
  --background: light-dark(var(--nord06), var(--nord01));
  --text-1: light-dark(var(--nord03), var(--nord06));
  --text-2: light-dark(var(--nord02), var(--nord05));
  --links: light-dark(var(--nord10), var(--nord08));
  --code-bg: light-dark(var(--nord04), var(--nord00));
  --focus: light-dark(var(--nord07), var(--nord09));
  --border: light-dark(var(--nord09), var(--nord10));
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(html) {
  block-size: 100%;
  font-family: system-ui, sans-serif;
  line-height: var(--font-lineheight-2);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: var(--text-1);
  background: var(--background);
}
@media (prefers-reduced-motion: no-preference) {
  :where(html) {
    scroll-behavior: smooth;
  }
}

:where(body) {
  max-inline-size: clamp(320px, 100%, 1000px);
  margin: auto;
  padding-inline: var(--size-3);
  padding-block: var(--size-2);
  word-break: break-word;
}

:focus-visible {
  outline-color: var(--focus);
}

::selection {
  background-color: var(--focus);
  color: var(--text-2);
}

:where(a) {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  color: var(--links);
  text-underline-offset: var(--size-1);
}
:where(a:not(:hover)) {
  text-decoration: none;
}

:where(img, svg, video) {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

:where(h1, h2, h3, h4, h5, h6) {
  margin-block: 0;
  line-height: var(--font-lineheight-0);
}
:where(h1, h2, h3, h4, h5, h6, strong) {
  color: var(--text-2);
}

:where(h1) {
  font-size: var(--font-size-5);
  font-weight: 600;
}
:where(h2) {
  font-size: var(--font-size-4);
  font-weight: 500;
}
:where(h3) {
  font-size: var(--font-size-3);
  font-weight: 500;
}
:where(h4, h5, h6) {
  font-size: var(--font-size-2);
  font-weight: 400;
}

:where(pre, code) {
  font-family: ui-monospace, monospace;
  writing-mode: lr;
}

:where(pre) {
  line-height: var(--font-lineheight-1);
  white-space: pre;
  overflow-x: auto;
  padding-block: var(--size-2);
  padding-inline: var(--size-2);
  background: var(--code-bg);
}

:where(:not(pre) > code) {
  padding-block: var(--size-0);
  padding-inline: var(--size-2);
  border-radius: var(--size-1);
  background: var(--code-bg);
}

:where(blockquote) {
  display: grid;
  gap: var(--size-2);
  margin-inline-start: 0;
  padding-inline: var(--size-2);
  border-inline-start: var(--size-1) solid var(--border);
  font-style: italic;
  white-space: pre-wrap;
}

:where(ol, ul) {
  padding-inline-start: var(--size-3);
}

:where(details) {
  padding-inline: var(--size-3);
  padding-block: var(--size-2);
}

:where(details[open] > summary) {
  margin-block-end: var(--size-2);
}
