---
import { getCollection } from "astro:content";
import { toPath, toDate } from "../libs/utils";
import RootLayout from "../components/root-layout/index.astro";
import PostList from "../components/post-list/list.astro";
import PostListItem from "../components/post-list/item.astro";

const [allPostsV1, allPostsV2] = await Promise.all([
  getCollection("posts-v1"),
  getCollection("posts-v2"),
]);

const allPosts = [
  ...allPostsV1.map((p) => ({
    path: toPath(p.id),
    title: p.data.title,
    date: toDate(p.id),
  })),
  ...allPostsV2.map((p) => ({
    path: toPath(p.slug),
    title: p.data.title,
    date: toDate(p.slug),
  })),
].reverse();
---

<RootLayout pageTitle="すべての記事">
  <main>
    <h1>すべての記事</h1>
    <p>{allPosts.length}件の記事があります。</p>
    <PostList>
      {allPosts.map((post) => <PostListItem {...post} />)}
    </PostList>
  </main>
</RootLayout>
