---
import { getCollection } from "astro:content";
import { toPath, toDate } from "../libs/utils";
import RootLayout from "../components/root-layout/index.astro";
import PostList from "../components/post-list/list.astro";
import PostListItem from "../components/post-list/item.astro";

const NUM_OF_RECENT_POSTS = 10;

const allPostsV2 = await getCollection("posts-v2");
const recentPosts = allPostsV2
  .slice(-1 * NUM_OF_RECENT_POSTS)
  .map((p) => ({
    path: toPath(p.slug),
    title: p.data.title,
    date: toDate(p.slug),
  }))
  .reverse();
---

<RootLayout>
  <main>
    <h1>最近の記事</h1>
    <PostList>
      {recentPosts.map((post) => <PostListItem {...post} />)}
    </PostList>
  </main>
</RootLayout>
