---
import { getCollection } from "astro:content";
import { toPath, toDate } from "../libs/utils";
import RootLayout from "../components/root-layout/index.astro";
import PostList from "../components/post-list.astro";

const RECENT_90_DAYS = Date.now() - 90 * 24 * 60 * 60 * 1000;

const allPostsV2 = await getCollection("posts-v2", (p) =>
  RECENT_90_DAYS < toDate(p.id).getTime() ? p : null,
);
const recentPosts = allPostsV2.map((p) => ({
  path: toPath(p.id),
  title: p.data.title,
  date: toDate(p.id),
}));
recentPosts.sort((a, b) => b.path.localeCompare(a.path));
---

<RootLayout>
  <h1>Recent Posts</h1>
  <PostList items={recentPosts} />
</RootLayout>
