---
export type Props = {
  title: string;
  date: Date;
};
const {
  props: { title, date },
} = Astro;
---

<header>
  <h1>{title}</h1>
  <time datetime={date.toJSON()}
    >{
      date.toLocaleString("ja-JP", {
        year: "numeric",
        month: "2-digit",
        day: "2-digit",
        hour: "2-digit",
        minute: "2-digit",
        second: "2-digit",
        timeZone: "Asia/Tokyo",
      })
    }</time
  >
</header>

<style>
  header {
    padding-block-end: var(--size-2);
    border-block-end: var(--size-0) solid var(--border);
  }
  header h1 {
    margin-block-end: var(--size-1);
  }
</style>
