---
const { PUBLIC_SHIKI_THEME } = import.meta.env;
---

<div data-post-body data-shiki-theme={PUBLIC_SHIKI_THEME} class="v1-post-body">
  <slot />

  <footer>
    <p>
      ⚠️ <a href="https://lealog.hateblo.jp/" target="_blank">はてなブログ</a
      >時代の記事からエクスポートされたページのため、一部の表示に不具合があるかもしれません。
    </p>
  </footer>
</div>

<style>
  .v1-post-body {
    display: contents;
  }
  :global(.v1-post-body br) {
    display: none;
  }
  /* v1-posts use h3-h5 headings, 1 lv smaller than v2-posts(h2-h4) */
  :global(.v1-post-body h3) {
    font-size: var(--font-size-4);
  }
  :global(.v1-post-body h4) {
    font-size: var(--font-size-3);
  }
  :global(.v1-post-body h5) {
    font-size: var(--font-size-2);
  }
  :global(.v1-post-body h3::before) {
    content: "## ";
  }
  :global(.v1-post-body h4::before) {
    content: "### ";
  }
  :global(.v1-post-body h5::before) {
    content: "#### ";
  }

  footer {
    border-block-start: var(--size-0) solid var(--border);
    font-size: var(--font-size-0);
  }
</style>

<script>
  // Replace `word` into <code>word</code>.
  (() => {
    const replace = async (targetEl: Element) => {
      targetEl.innerHTML = targetEl.innerHTML.replaceAll(
        /`([^`]*?)`/g,
        "<code>$1</code>",
      );
    };

    const observer = new IntersectionObserver((entries, observer) => {
      for (const entry of entries) {
        if (!entry.isIntersecting) continue;
        replace(entry.target).finally(() => observer.unobserve(entry.target));
      }
    }, {});
    const $targets = document.querySelectorAll(
      "[data-post-body] :is(p, li, h3, h4, h5)",
    );
    for (const $target of $targets) observer.observe($target);
  })();

  // Apply syntax highlight to code block.
  (() => {
    const shikiTheme =
      document
        .querySelector("[data-shiki-theme]")
        ?.getAttribute("data-shiki-theme") ?? "";

    const highlight = async (targetEl: Element) => {
      const { getHighlighter } = await import("shikiji");
      const highlighter = await getHighlighter({
        // @ts-expect-error: Type 'string' is not assignable
        themes: [shikiTheme],
        langs: [],
      });

      let options = {};
      try {
        // @ts-expect-error: Property 'dataset' does not exist on type 'Element'.
        const lang = targetEl.dataset.lang || null;
        await highlighter.loadLanguage(lang);
        options = { lang };
      } catch {}

      targetEl.outerHTML = highlighter.codeToHtml(
        targetEl.textContent ?? "",
        options,
      );
    };

    const observer = new IntersectionObserver((entries, observer) => {
      for (const entry of entries) {
        if (!entry.isIntersecting) continue;
        highlight(entry.target).finally(() => observer.unobserve(entry.target));
      }
    }, {});
    const $targets = document.querySelectorAll("[data-post-body] pre");
    for (const $target of $targets) observer.observe($target);
  })();
</script>
