---

---

<div class="v2-post-body">
  <slot />
</div>

<style>
  .v2-post-body {
    display: contents;
  }

  :global(.v2-post-body h2::before) {
    content: "## ";
  }
  :global(.v2-post-body h3::before) {
    content: "### ";
  }
  :global(.v2-post-body h4::before) {
    content: "#### ";
  }
</style>
