---
export type Props = {
  editPath: string;
};
const {
  props: { editPath },
} = Astro;
---

<div class="v2-post-body">
  <slot />

  <footer>
    <p>
      📝 <a
        href={`https://github.com/leaysgur/posts/edit/main/src/content/${editPath}`}
        target="_blank">GitHubで編集</a
      >
    </p>
  </footer>
</div>

<style>
  .v2-post-body {
    display: contents;
  }
  :global(.v2-post-body h2) {
    padding-block-start: var(--size-4);
    border-block-start: var(--size-0) solid var(--border);
  }
  :global(.v2-post-body h2::before) {
    content: "## ";
  }
  :global(.v2-post-body h3::before) {
    content: "### ";
  }
  :global(.v2-post-body h4::before) {
    content: "#### ";
  }

  footer {
    border-block-start: var(--size-0) solid var(--border);
    font-size: var(--font-size-0);
  }
</style>
